<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal">
      <LayoutAnchorablePane DockWidth="289.6">
        <LayoutAnchorable AutoHideWidth="320" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="[工具栏]" IsSelected="True" ContentId="Tool" FloatingWidth="320" FloatingHeight="800" LastActivationTimeStamp="02/16/2023 17:45:45" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane DockWidth="294.4">
        <LayoutAnchorable AutoHideWidth="320" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="[流程栏]" IsSelected="True" ContentId="Process" FloatingWidth="320" FloatingHeight="800" LastActivationTimeStamp="02/16/2023 17:43:51" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical" DockWidth="1.06422018348624*">
        <LayoutDocumentPaneGroup Orientation="Horizontal">
          <LayoutDocumentPane>
            <LayoutDocument Title="[视觉图像]" IsSelected="True" IsLastFocusedDocument="True" ContentId="Vision" CanClose="False" LastActivationTimeStamp="03/29/2023 09:31:49" />
          </LayoutDocumentPane>
        </LayoutDocumentPaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="277.6" FloatingWidth="136" FloatingHeight="300" FloatingLeft="1034.4" FloatingTop="544.8">
          <LayoutAnchorablePane Id="0d455db7-6710-4021-8de6-5313cc5142d0" DockWidth="1.65746549560853*" DockHeight="277.6" FloatingWidth="136" FloatingHeight="300" FloatingLeft="1034.4" FloatingTop="544.8">
            <LayoutAnchorable AutoHideHeight="300" AutoHideMinWidth="100" AutoHideMinHeight="200" Title="[日志信息]" IsSelected="True" ContentId="Log" FloatingLeft="1034.4" FloatingTop="544.8" FloatingWidth="136" FloatingHeight="300" LastActivationTimeStamp="02/16/2023 17:45:45" />
            <LayoutAnchorable AutoHideHeight="300" AutoHideMinWidth="100" AutoHideMinHeight="200" Title="[数据栏]" ContentId="Data" FloatingLeft="1034.4" FloatingTop="544.8" FloatingWidth="136" FloatingHeight="300" LastActivationTimeStamp="02/16/2023 17:45:20" />
            <LayoutAnchorable AutoHideHeight="300" AutoHideMinWidth="100" AutoHideMinHeight="200" Title="[模块输出]" ContentId="ModuleOut" FloatingLeft="1034.4" FloatingTop="544.8" FloatingWidth="136" FloatingHeight="300" LastActivationTimeStamp="02/16/2023 17:45:19" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane DockWidth="0.342534504391468*" DockHeight="277.6" FloatingWidth="136" FloatingHeight="300" FloatingLeft="1093.6" FloatingTop="697.6">
            <LayoutAnchorable AutoHideHeight="300" AutoHideMinWidth="100" AutoHideMinHeight="200" Title="[设备状态]" IsSelected="True" ContentId="DeviceState" FloatingLeft="1093.6" FloatingTop="697.6" FloatingWidth="136" FloatingHeight="300" LastActivationTimeStamp="02/16/2023 17:45:27" PreviousContainerId="0d455db7-6710-4021-8de6-5313cc5142d0" PreviousContainerIndex="3" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>
      </LayoutPanel>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>